// ----------------------------------------------------------------------------
// Mixins

@mixin section($color: rgba($orange-light,.1)) {
  position: relative;
  &:before, &:after {
    @include stretch-y;
    content: " ";
    left: - 100%;
    right: - 100%;
    padding: {
      left: 100%;
      right: 100%;
    }
    background: $color;
    z-index: -1;
  }
  &:before { @include rotate(2deg); }
  &:after { @include rotate(-2deg); }
}

// ----------------------------------------------------------------------------
// Title

#title, #questions {
  h1, h2 { text-align: center; }
}

.vcard {
  @include leader(1);

  .logo{
    @include span-columns(4);
    @include push(2);
  }
  .fn, .links {
    @include span-columns(6 omega);
  }
  .fn {
    @include trailer(0);
  }
  .links {
    list-style: none;
    a:before { margin-right: .4em; }
  }

  [href*="twitter"] {
    @extend %icon;
    @extend %icon-twitter;
  }

  li {
    @include trailer(0);
  }

  ul {
    @include leader(0)
  }
}

// ----------------------------------------------------------------------------
// Steps

@include animate;

.step[data-fullwidth="1"] { width: 1024px; }

.innerStep {
  opacity: 0;
  &.stepped { @include animation(fadeInLeft 300ms both); }
}

.step[data-center="1"] { text-align: center; }

.step img:not(.logo) {
    @include box-shadow(0 0 .5em black);
}

.step h1 strong {
    color: $accent;
}

#license .code {
  @include adjust-font-size-to(ms(-8),.35);
}

#rtd img:nth-of-type(2) {
    position: absolute;
    top: -50px;
    left: 700px;
}

#matrix {
    table {
        @include adjust-font-size-to($smallpx);
        border-collapse: collapse;
        background-color: #fdf6e3;
        @include box-shadow(0 0 .5em black);
        tr:nth-of-type(1) th:nth-of-type(1) p {
            visibility: hidden;
        }
        tr:nth-of-type(1) th:nth-of-type(2) p {
            color: $accent;
        }
        tr:nth-of-type(2) th:nth-of-type(1) p {
            color: $accent;
        }
        th {
            font-weight: bold;
            text-align: center;
        }
        td, th {
            p {
                padding: 0;
                margin: 0;
            }
            padding: .25em .75em;
            border: thin solid black;
        }
    }
}

#running-tox .code, #complex-tox .code {
    @include adjust-font-size-to(ms(-6),.45);
}

#all-the-time {
    h1:nth-of-type(1) {
        @include adjust-font-size-to($xlargepx);
    }
    h1:nth-of-type(2) {
        @include adjust-font-size-to(ms(7));
    }
}
